h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

div.blog {
  margin: 20px;
  padding: 0px;
  max-width: 800px;
  text-align: left;
}

div.blog>p {
  margin-block-start: 20px;
  padding: 0px;
}