body {
  text-align: center;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, arial, sans-serif;
}

.body {
  margin: 0px 10px;
  text-align: center;
}

header {
  color: #fff;
  text-align: left;
  background-color: #333;
  padding: 20px;
  font-size: 2em;
}

header > a {
  color: #fff;
  text-decoration: none;
}

a {
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

h1 {
  padding: 45px 45px 20px 45px;
  margin: 0px;
}
h2 {
    margin: 0px auto 15px;
}
h3 {
  padding: 0px 45px;
  text-align: left;
}
h4 {
  margin: 10px 0px 20px 0px;
}

h1 a {
    color: #000;
    text-decoration: none;
}

div.contentBox {
    background-color: #fff;
    margin: 30px auto;
    text-align: center;
    vertical-align: top;
}

div.contentBox > a {
  border: 0px;
  text-decoration: none;
}

div.contentBox > a:focus {
  border: 1px;
}

div.contentItem {
  display: inline-block;
  margin: 10px;
  border: 1px solid #eee;
  height: 100px;
  width: 420px;
  text-align: left;
}

div.contentItem:hover {
  background-color: #068;
  color: #fff;
}

div.contentItem > img {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-right: 10px;
}

div.contentItem > div {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 280px;
}

div.hero {
  width: 100%;
  padding: 20px 0px;
  background-color: #068;
}

div.hero > div.image {
  display: inline-block;
  vertical-align: top;
  height: 350px;
  width: 500px;
  background-image: url(../images/family.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

footer {
  width: 100%;
  padding: 15px 0px 5px 0px;
  background-color: #333;
}

footer a {
  color: #fff;
}

footer ul {
  list-style-type: none;
  padding: 0px;
}
footer ul li {
  display: inline;
}
footer ul li img {
    border-radius: 25px;
    vertical-align: middle;
}

p {
  padding: 15px 30px;
  margin: 0px 15px;
}

.left {
  text-align: left;
}

p.lightBox {
  background-color: #BDD;
  border-radius: 10px;
}

@media screen and (max-width: 1020px) and (min-width: 700px) {
  div.hero ul li a {
    height: 200px;
    width: 200px;
  }

  div.slides ul li a {
    border-radius: 0px;
  }
  div.slides ul li a div {
    top: 0px;
    opacity: 0.9;
  }
}

@media screen and (max-width: 700px) {
  div.hero {
    padding: 0px;
    margin-bottom: 10px;
  }

  div.hero ul li {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  div.hero ul li a {
    height: 300px;
    width: 100%;
    border-radius: 0px;
  }
  div.hero ul li a div {
    border-radius: 0px;
    opacity: .8;
  }

  div.slides ul li a {
    border-radius: 0px;
  }
  div.slides ul li a div {
    top: 0px;
    opacity: 0.9;
  }
}