<h2>Get in touch<h2>

<div class="hero">
  <ul>
    <li>
      <a href="https://github.com/PureMunky"
         target="_blank"
         class="coder"
         title="Coder">
        <div></div>
      </a>
    </li>
    <li>
      <a href="http://www.twitch.tv/puremunky"
         target="_blank"
         class="gamer"
         title="Gamer">
        <div></div>
      </a>
    </li>
    <li>
      <a href="http://www.twitter.com/PhilCorbettLive"
         target="_blank"
         class="friend"
         title="Friend">
        <div></div>
      </a>
    </li>
  </ul>
</div>
