<footer>
  <ul>
    <li>
      <a ng-href="#/"><img src="https://www.philcorbett.net/images/profile.jpg" class="u-photo"
          style="height: 50px; width: 50px;" alt="Profile photo" /></a>
    </li>
    <li>
      <a target="_blank" href="https://drive.google.com/drive/folders/1c2BigmZC8YfnrSy5Xalbdj9of05jPcvO?usp=sharing"
        rel="me">Public Folder</a>
    </li>
    <li>
      <a target="_blank" href="https://blog.philcorbett.net" rel="me">Blog</a>
    </li>
    <li>
      <a target="_blank" href="http://github.com/PureMunky" rel="me">Github</a>
    </li>
    <li>
      <a target="_blank" href="https://www.paypal.me/philcorbettlive" rel="me">PayPal</a>
    </li>
    <li>
      <a href="mailto:phil@philcorbett.net" class="u-email" rel="me">Email</a>
    </li>
  </ul>
</footer>