<h2>Things I've been playing with...</h2>

<div class="hero slides">
    <ul>
        <li>
            <a href="http://puremunky.github.io/ForeverSpace/"
                target="_blank"
                style="background-image: url(images/projects/ForeverSpace.png);">
                <div>ForeverSpace</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/projects/Canvas-RPG.png);">
                <div>Canvas RPG</div>
            </a>
        </li>
    </ul>
</div>