<h2>Things I've Worked On</h2>

<div class="hero slides">
    <ul>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
        <li>
            <a href="http://puremunky.github.io/Canvas-RPG"
                target="_blank"
                style="background-image: url(images/gamer.jpg);">
                <div>Canvas RPG</div>
            </a>
        </li>
    </ul>
</div>