Thanks for clicking my link!!<br/><br/>
This is an experiment that I'm playing with. I'm trying to find ways to embed
additional information into everday communication. I like to think of this as
super emojis. I'll probably be trying to link to different words in this
dictionary through social media.<br/><br/>
My goal with this is to provide additional context and information to help
define whatever I said online. This could be pictures, links to web pages, a
micro blog post, videos, or just about anything! I want to provide a way for
anyone to dig deeper into anything that I say.