body { text-align: center; background-color: #fcfcfc; }

ul.hero { list-style-type: none; }
ul.hero li { display: inline; }
ul.hero li a { height: 300px; width: 300px; background-color: #fff; display: inline-block; vertical-align: bottom; }
ul.hero li a.coder { background-color: #4183c4; }
ul.hero li a.gamer { background-color: #6441a5; }
ul.hero li a.friend { background-color: #4099ff; }
